In [1]:
# Импорт библиотек
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

Команда компании «ABC» проводит исследование. Было решено добавить выпадающее меню в разделах навигации на сайте и проверить, увеличит ли данное изменение конверсию, то есть, станет ли производиться больше покупок. За группу А был взят старый интерфейс сайта, а за группу В — новый.

Дизайн эксперимента.

- Цель - увеличитиь конверсию
- Целевая метрика - количество конверсий
- Нулевая гипотеза (H0): добавление выпадающего меню не повлияет на количество конверсий
- Альтернативная гипотеза (H1): добавление выпадающего меню увеличит количество конверсий
- Предел значимости 0,05

По результатам наблюдений были получины данные конверсий для групп А и В:

In [2]:
data = pd.read_csv('data/conversion.csv', sep = ';')    
data

     A  B
0    0  1
1    0  1
2    1  1
3    0  1
4    0  0
..  .. ..
597  0  0
598  0  1
599  0  1
600  0  1
601  0  1

[602 rows x 2 columns]

Проведем z-тест пропорций.
- H0 : две доли конверсий равны
- Н1 : доля конвесии в В больше чем в А

In [3]:
conv_a = data.A.sum()
conv_b = data.B.sum()
n_obs = data.shape[0]
count = np.array([conv_a, conv_b])
nobs = np.array([n_obs, n_obs])
p_value = proportions_ztest(count, nobs)[1]
print(f'p-value = {p_value}')

p-value = 1.1308938021015917e-107

ВЫВОД: Значение p_value меньше порога значимость (0.05), следовательно добавление выпадающего меню увеличило количество конверсий