# Простые типы данных

In [ ]:
my_integer = 10
type(my_integer)

In [ ]:
my_float = 5.5
type(my_float)

In [ ]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string)

In [ ]:
# my_bool = True
my_bool = False
type(my_bool)

In [3]:
x = 5
y = 1
type(x > y)

bool

In [1]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ' + salary + ' условных единиц')

TypeError: can only concatenate str (not "int") to str

In [2]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [ ]:
# неявное преобразование типов
# print(1 + False)
# print(20 / 5.0)

## Строки

In [ ]:
'Hi, ' + 'Oleg'

In [ ]:
my_string.upper()

In [ ]:
my_string.lower()

In [ ]:
my_string.capitalize()

In [ ]:
my_string.replace('Hello', 'Goodbye')

In [ ]:
len(my_string)

## Индексация и срезы

In [42]:
my_string = 'Hello World'

In [43]:
my_string[2]

'l'

In [ ]:
my_string[-4]

In [ ]:
my_string[0:5]

In [ ]:
my_string = 'Hello World'
my_string[0:8:2]

In [ ]:
my_string[6:]

In [ ]:
my_string[:5]

## Упражнение
Выделите номер часа из даты следующего формата

In [ ]:
date = '2019-08-27T23:59:00.932'

## Проверка на вхождение элемента в объект

In [ ]:
my_string = 'Hello World'
target_string = 'World'
if target_string not in my_string:
    print('not find!')

## f-строки

In [ ]:
name = 'oleg'
lang = 'python'
t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print(t)
print(type(t))

# Списки

In [5]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [6]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [7]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [15]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [16]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0]

'Jan'

In [17]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [18]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [19]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [10]:
first, second, third = ['первый', 'второй', 'третий']

In [9]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
other

['второй', 'третий']

In [11]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [12]:
first, last

('первый', 'четвертый')

## Операции со списками

In [ ]:
income_by_months

In [ ]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

In [ ]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

In [ ]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

In [ ]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

In [ ]:
# считаем количество вхождений элемента в список
income_list.count(13000)

In [ ]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000, 1)

In [ ]:
# разворачиваем список
month_list.reverse()
month_list

In [ ]:
# узнаем длину списка
len(income_list)

In [ ]:
# сумма элементов
sum(income_list)

In [ ]:
# максимальный элемент элементов
max(income_list)

In [ ]:
# минимальный элемент элементов
min(income_list)

In [ ]:
# сортировка по возрастанию
sorted(income_list)

In [ ]:
# изменить порядок сортировки
sorted(income_list, reverse=True)

In [ ]:
# а это сортировка строк по алфавиту
sorted(month_list)

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [13]:
a = [1, 2, 3]
b = a

In [47]:
b.append(4)
f'a = {a}'

'a = [1, 2, 3, 4, 4, 4, 4, 4]'

In [48]:
id(a), id(b)

(1999142759104, 1999142759104)

Используем модуль copy

In [ ]:
import copy

In [ ]:
a = [1, 2, 3]
b = copy.copy(a)

In [ ]:
id(a), id(b)

In [46]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3, 4, 4, 4, 4]
b = [1, 2, 3, 4, 4, 4, 4]

## Списки и строки

In [ ]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [ ]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

In [ ]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

In [ ]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

# Tuple (кортежы)

In [ ]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
# type(list(salary_tuple))

In [20]:
# print(salary_tuple[0])
salary_tuple[0] = 500

NameError: name 'salary_tuple' is not defined

In [21]:
# кортеж из одного элемента задается так:
t = ('one', )
type(t)

tuple

In [22]:
# без запятой получится строка
type( ('one') )

str

In [23]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(list(salaries_by_names))

[('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800)]

# Циклы

## Цикл while

In [24]:
x = 5
while x != 0:
    x -= 1
    print(x)

4
3
2
1
0

In [25]:
x = 6
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x -= 1

6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

## Цикл for

In [26]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
#     print(letter)
    letter = letter.capitalize()
    print(letter)

O
R
A
N
G
E

In [27]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]

for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])
#     print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

### Функции range и enumerate

In [ ]:
# range(10)
type(range(10))

In [ ]:
list(range(1, 10))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

In [ ]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

In [ ]:
# enumerate позволяет получить индекс каждого элемента
enumerate([144, 244, 344, 444, 544])
list(enumerate([144, 244, 344, 444, 544]))

In [ ]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

## break, pass, continue

In [29]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [30]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [31]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter, end='')

640Кбдолжнохватитьдлялюбыхзадач.БиллГейтс(полегенде)

In [32]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter, end='')

640Кб должно хватить для любых задач. Билл Гейтс (по легенде)

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

In [33]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [34]:
person = 5

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

## List comprehension

In [35]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [36]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [37]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [38]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [39]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [40]:
# с list comprehension получается покороче

[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [ ]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [ ]:
for element in api_response:
    print(element[2])

In [ ]:
sum([x[2] for x in api_response])/len(api_response)

## Попрактикуемся

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [50]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [53]:
min([n for n in sys_stdin if n % 2 == 0 ])

16

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [54]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [55]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'R', 'SAS', 'SQL', 'Git', 'Scala', 'Java', 'Tableau', 'Python', 'Hadoop'}
{'R', 'SAS', 'SQL', 'Git', 'Scala', 'Java', 'Tableau', 'Python', 'Hadoop'}

In [56]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Python', 'Git', 'SQL'}
{'Python', 'Git', 'SQL'}

In [57]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Scala', 'Java', 'Hadoop'}
{'Scala', 'Java', 'Hadoop'}

In [58]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'R', 'SAS', 'Scala', 'Java', 'Tableau', 'Hadoop'}
{'R', 'SAS', 'Scala', 'Java', 'Tableau', 'Hadoop'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

# Словари

In [59]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [68]:
# обращение к элементу словаря
salaries['piter'] = 200

In [66]:
# удаляем элемент из словаря
add(salaries['Liza'] = 200)
salaries

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2694248939.py, line 2)

In [69]:
# добавляем элемент в словарь
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'piter': 200}

In [71]:
# безопасно получаем значение по ключу
#salaries['Oleg']
# salaries.get('Oleg', 'Not Found')
salaries.get('Makl', 'Not Found')

'Not Found'

In [72]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Добавляю новый ключ
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'piter': 200, 'Amanda': 2200}

In [75]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

#salaries.setdefault('Mary', 3000)
#salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200,
 'Mary': 2000,
 'Steven': 1000,
 'piter': 200,
 'Amanda': 2200,
 'Paul': 3000}

In [76]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [77]:
staff_dict['Robert']['salary']

800

In [78]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [79]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
print(staff_dict.items())

# print(list(staff_dict.keys()))
# print(list(staff_dict.values()))
print(list(staff_dict.items()))

dict_items([('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})])
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [80]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

Robert's salary: 800
Jane's salary: 200
Richard's salary: 500

In [81]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [82]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [83]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [84]:
for key, value in staff_dict.items():
    print(key, value)

Robert {'salary': 800, 'bonus': 200}
Jane {'salary': 200, 'bonus': 300}
Liza {'salary': 1300, 'bonus': 200}
Richard {'salary': 500, 'bonus': 1200}
Oleg {'salary': 1000000, 'bonus': 300}

In [85]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [87]:
# используем цикл
for person, info in staff_dict.items():
#     print(person, info)
    print(person, "'s salary: ", info['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [90]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

NameError: name 'status' is not defined

In [91]:
# функция zip
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [92]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [93]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [94]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [95]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

## Попрактикуемся
Для каждого источника посчитайте ROI (revenue / cost - 1)

In [98]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [125]:
for info in results.values():
    info['ROI'] = info['revenue'] / info['cost'] - 1
print (results)

{'vk': {'revenue': 103, 'cost': 98, 'ROI': 0.05102040816326525}, 'yandex': {'revenue': 179, 'cost': 153, 'ROI': 0.16993464052287588}, 'facebook': {'revenue': 103, 'cost': 110, 'ROI': -0.0636363636363636}, 'adwords': {'revenue': 35, 'cost': 34, 'ROI': 0.02941176470588225}, 'twitter': {'revenue': 11, 'cost': 24, 'ROI': -0.5416666666666667}}

In [ ]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}