In [1]:
import pandas as pd

In [2]:
data_ = pd.read_csv('startup_users_visits.csv')
data_['date'] = data_['date'].astype("datetime64[ns]")




#data.sort_values('user_id')

In [7]:
temp_ = data_.groupby(         
    by = 'user_id', as_index = False)[['date']].min()

temp_['data_max'] = temp_['date'] + pd.DateOffset(days=90)

temp_

                user_id       date   data_max
0      0001599900972add 2023-06-15 2023-09-13
1      00019b04f17ade68 2022-12-18 2023-03-18
2      0001c405d5a77893 2023-07-09 2023-10-07
3      000314ab1fe38c66 2023-04-22 2023-07-21
4      0003f0dbb8dc8b65 2023-02-17 2023-05-18
...                 ...        ...        ...
25643  7ffa82acbb882941 2023-06-03 2023-09-01
25644  7ffb5e73d6d7f498 2023-06-02 2023-08-31
25645  7ffd24ca0df1f24c 2023-09-08 2023-12-07
25646  7ffe53ad76ee5e74 2023-07-26 2023-10-24
25647  7fff855159083854 2023-09-03 2023-12-02

[25648 rows x 3 columns]

In [ ]:
df_genre = pd.DataFrame({
    'genre':[],
    'number_of_games':[],
    })
    for i in range(copy.shape[0]):
        dict_genre_free = {}

In [6]:
for i in temp_.user_id:
    if data_.locuser_id == i & (data_.date > temp_.date & data_.date < temp_.date_max):
        print(data_.user_id)

C:\Users\sfomc\AppData\Local\Temp\ipykernel_6672\1795461037.py:2: FutureWarning: Operation between non boolean Series with different indexes will no longer return a boolean result in a future version. Cast both Series to object type to maintain the prior behavior.
  if data_.user_id == i & (data_.date > temp_.date & data_.date < temp_.date_max):

TypeError: unsupported operand type(s) for &: 'DatetimeArray' and 'DatetimeArray'

In [ ]:
agg("value_counts").sort_values(by = 'count', ascending = False)[:10]

In [ ]:
for i in data.user_id:

In [ ]:
data_ = pd.read_csv('logs.tsv', sep='\t')
data_